LOG_DIR=logs
DB_HOST=localhost
DB_PORT=5432
DB_NAME=event_system
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=
PORT=3000
NODE_ENV=development

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario_aqui
SMTP_PASS=tu_password_aqui
SMTP_FROM_NAME="EVENTIFY Command Center"
SMTP_FROM_EMAIL=noreply@eventify.com
PLATFORM_TERMS_URL=https://eventify.com/terms
PLATFORM_PRIVACY_URL=https://eventify.com/privacy